.bigletter{
  font-size: 10rem;
  text-decoration: none;
}

@keyframes scrap-anim {
 0% {color: white;}
 10% {color: grey;}
 15% {color:white;}
 60% {color: grey;}
 65% {color: white;}
 73% {color: grey;}
 100% {color: white;}
}

.scrappy {
  animation-name: scrap-anim;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}