body {
  background-color: black;
  text-align: center;
}

h1 {
  text-decoration: underline;
  font-style: oblique;
  color: white;
}

p {
  color: white;
  font-style: normal;
  text-decoration: line-through underline overline; 
  text-align: justify;
}



.meltdown {
  
}

@keyframes nc-color-change {
  0% {text-shadow: -0.3rem 0.3rem green, -0.6rem 0.6rem blue;}
  50% {text-shadow: -0.3rem 0.3rem blue, -0.6rem 0.6rem green;}
  100% {text-shadow: -0.3rem 0.3rem green, -0.6rem 0.6rem blue;}
}

#neo-china {
  text-decoration: line-through underline overline;
  color: red;
  text-shadow: -0.3rem 0.3rem blue, -0.6rem 0.6rem green;
  animation-name: nc-color-change;
  animation-duration: 5s;
  animation-direction: normal;
  animation-iteration-count: infinite;
}

#nick {
  height: 10rem;
  transform: scaleY(-1) scaleX(-1);
}

#lain {
  height: 10rem;
}